<!DOCTYPE html>
<html>
<body>

<h2>Hello {{name}},</h2>

<p>We noticed a new login to your Booklatch account.</p>

<p><strong>Login Time:</strong> {{loginTime}}</p>

<p>If this was you, you can safely ignore this email.</p>

<p>If you don't recognize this login, please change your password immediately.</p>

</body>
</html>